body {
  margin: 0;
}

:root {
  --blue: #1278ff;
}

/* HEADER */
header {
  display: flex;
  align-items: center;

  height: 64px;

  padding: 0 24px;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
}

/* LOGO */
header img {
  display: block;
  height: 32px;
}

/* NAV */
nav {
  margin-left: auto;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li + li {
  margin-left: 24px;
}

/* LINKS */
nav a {
  display: block;
  height: 64px;
  line-height: 64px;

  text-transform: uppercase;
  letter-spacing: 0.04em;

  text-decoration: none;
  color: #111;
}

/* ACTIVE UNDERLINE */
.is-active {
  position: relative;
}

.is-active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  height: 3px;
  background-color: var(--blue);
}

/* HOVER */
nav a:hover {
  color: var(--blue);
}
