body {
  margin: 0;
}

:root {
  --blue: #1278ff;
}

header {
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li + li {
  margin-left: 40px;
}

nav a {
  display: block;
  height: 64px;
  line-height: 64px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #000;
  box-sizing: border-box;
}

.is-active {
  position: relative;
}

.is-active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 6px;
  height: 3px;
  background-color: var(--blue);
}

nav a:hover {
  color: var(--blue);
}

