html {
  font-family: Roboto, Arial, sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;

  --header-color: #fff;
  --text-color: #000;
  --selected-color: #00acdc;
  --header-font-size: 12px;
  --header-height: 60px;
}

.header {
  margin: 0;
  background-color: var(--header-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  height: 40px;
  width: 40px;
  margin-left: 50px;
}

.image {
  display: block;
  object-fit: cover;
  max-width: 100%;
  height: 40px;
  width: 40px;
}

.nav {
  display: inline-block;
  margin-right: 50px;
}

.nav__list {
  margin: 0 auto;
  display: flex;
  padding: 0;
  list-style: none;
}

.nav__item:not(:first-child) {
  margin-left: 20px;
}

.nav__link {
  display: block;
  position: relative;
  height: var(--header-height);
  line-height: var(--header-height);

  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: var(--header-font-size);
}

.nav__link:hover {
  color: var(--selected-color);
}

.nav__link:active {
  color: var(--selected-color);
}

.is-active {
  color: var(--selected-color);
}

.nav__link.is-active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;

  height: 4px;
  width: 100%;
  background-color: var(--selected-color);
  border-radius: 8px;
}
