body {
  margin: 0;
}

:root {
  --blue: #1278ff;
}

/* Header wrapper */
header {
  width: 100%;
}

/* Centered content container */
.header__content {
  display: flex;
  align-items: center;

  max-width: 1024px;
  margin: 0 auto;
  padding: 0 24px;

  font-family: Roboto, sans-serif;
  font-weight: 500;
}

/* Logo */
header img {
  display: block;
  height: 32px;
}

/* Nav pushed to the right */
nav {
  margin-left: auto;
}

/* Nav list */
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li + li {
  margin-left: 40px;
}

/* Links */
nav a {
  display: block;
  height: 64px;
  line-height: 64px;

  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  color: #000;
  box-sizing: border-box;
}

/* Active underline */
.is-active {
  position: relative;
}

.is-active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 6px;

  height: 3px;
  background-color: var(--blue);
}

/* Hover */
nav a:hover {
  color: var(--blue);
}
