body {
  margin: 0;
}

:root {
  --blue: #1278ff;
}

/* Header */
.header {
  display: flex;
  align-items: center;

  height: 60px;
  padding-inline: 50px;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
}

/* Logo */
.header__logo img {
  display: block;
  height: 32px;
}

/* Nav */
.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item + .nav__item {
  margin-left: 24px;
}

/* Links */
.nav__link {
  display: block;
  height: 60px;
  line-height: 60px;

  text-transform: uppercase;
  letter-spacing: 0.04em;

  text-decoration: none;
  color: #111;
}

/* Hover */
.nav__link:hover {
  color: var(--blue);
}

/* Active underline */
.is-active {
  position: relative;
  color: var(--blue);
}

.is-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 3px;
  background-color: var(--blue);
}
